/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  table {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  .container-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;

    .header-page,
    .main-page {
      flex: 1 1 100%;
    }

    .header-page {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      max-height: 48px;
    }

    .main-page {

      .row {
        display: flex;
        flex-flow: row wrap;

        .column {
          padding: 0px 16px;
          flex: 1 1 25%;
        }
      }

      .mat-card {
        margin-top: 8px;
      }

      .container-cards {
        display: flex;
        flex-direction: row;

        .card-left {
          width: 17%;
          min-width: 17%;
          margin-right: 16px;
        }

        .card-properties {
          flex-grow: 1;

          .property-list {
            display: flex;
            flex-flow: row wrap;
          }
        }

        .property-images {
          margin: 16px 0px;
          width: 100%;
          display: flex;
          overflow-x: auto;

          img {
            width: 400px;
            height: 300px;
            object-fit: cover;
            margin-right: 5px;
          }

        }
      }

      .container-property {
        .property-images {
          margin: 16px 0px;
          width: 100%;
          display: flex;
          overflow-x: auto;

          img {
            width: 400px;
            height: 300px;
            object-fit: cover;
            margin-right: 5px;
          }

        }
      }
    }
  }
}
