<div class="container-page" *ngIf="owner$ | async as owner">
  <div class="header-page">
    <h2>Owner Detail</h2>
    <a mat-mini-fab color="primary" routerLink="/admin/property">
      <mat-icon>domain_add</mat-icon>
    </a>
  </div>
  <div class="main-page">
    <div class="container-cards">
      <mat-card class="card-left">
        <mat-card-content>
          <div class="container-owner">

            <img *ngIf="!!owner.photo; else showAvatar" class="avatar" [src]="owner.photo" alt="avatar">
            <div class="info-owner">
              <div class="field">Name: <span>{{ owner.name }}</span></div>
              <div class="field">Address: <span>{{ owner.address }}</span></div>
              <div class="field">Birthday: <span>{{ owner.birthday | date }}</span></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="card-properties">
        <div class="property-list">
          <app-property-card *ngFor="let prop of owner.properties" [property]="prop"
            routerLink="/admin/property/{{ prop.id }}"></app-property-card>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #showAvatar>
  <img class="avatar" src="/assets/images/default-avatar.png" alt="avatar">
</ng-template>
